<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>View Employee </title>
</head>
<body>
    <table class="table container">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Department Name</th>
                <th scope="col">Location Id </th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                <th scope="row">{{row["department_name"]}}</th>
                <td>{{row["location_id"]}}</td>
        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>